# {{ ansible_managed }}
{% if resolvconf_domain is defined %}
domain {{ resolvconf_domain }}
{% endif %}
{% if resolvconf_search is defined %}
search {{ resolvconf_search | join(' ') }}
{% endif %}
{% for nameserver in resolvconf_nameservers %}
nameserver {{ nameserver }}
{% endfor %}
{% if resolvconf_sortlist is defined %}
sortlist {{ resolvconf_sortlist }}
{% endif %}
{% if resolvconf_options is defined %}
options {{ resolvconf_options | join(' ') }}
{% endif %}
